<%- include header -%>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Elements</h1>
									</header>

									<!-- Content -->
										<h2 id="content">ABC</h2>
										<p>abc</p>
								</div>
							</section>

					</div>
<%- include footer -%>