
				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-home"></span>
										<h3>Address</h3>
										<span>Jabalpur Engineering College<br />
											Gokalpur, Jabalpur<br /> Madhya Pradesh, India</span>
									</div>
								</section>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">abc@gmail.com</a>
									</div>
									<div class="contact-method">
										<span class="icon alt fa-phone"></span>
										<h3>Phone</h3>
										<span>+91-900xxxxxxxx</span>
									</div>
									<div class="contact-method">
										<span class="icon alt fa-facebook"></span>
										<h3>Facebook</h3>
										<a href="#">Follow us here!</a>
									</div>
								</section>								
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy;Developed with <span style="color:#891c18;">❤</span> by <a href="https://www.facebook.com/aman.dwivedi.73932646">Aman Dwivedi</a> and <a href="https://www.facebook.com/sakshi.ranka.1">Sakshi Ranka</a>
							</li></ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
