<%- include header -%>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Generic</h1>
									</header>
									<span class="image main"><img src="images/pic11.jpg" alt="" /></span>
									<p>grghrthr</p>
								</div>
							</section>

					</div>

<%- include footer -%>