<!DOCTYPE HTML>

<html>
	<head>
		<title>TEDxJEC | Jabalpur Engineering College</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="/" class="logo"><strong>TEDxJEC</strong> <span>by Jabalpur Engineering College</span></a>
						<nav>
							<a href="#menu">Menu</a>
							<ul class="actions">
								<li><a href="#" class="button special fit">Register</a></li>
						</ul>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="landing">Landing</a></li>
							<li><a href="generic">Generic</a></li>
							<li><a href="elements">Elements</a></li>
						</ul>
						<ul class="actions vertical">
							<li><a href="#" class="button special fit">Register</a></li>
						</ul>
					</nav>