
<%- include header -%>
				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>TEDxJEC</h1>
							</header>
							<div class="content">
								<p>Jabalpur Engineering College</p>
								<ul class="actions">
									<li><a href="#speakers" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="speakers" class="tiles">
								<article>
									<span class="image">
										<img src="images/pavitra.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/pavitrashetty" class="link">Pavitra Shetty</a></h3>
										<p>Pavitra Shetty or 'Pavi' as she prefers to be called for reasons of social acceptance is an IT engineer, infrequent gym-goer and burger enthusiast, all redeeming qualities for the average non specific, she just happens to be a girl.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/arvindpassey" class="link">Arvind Passey</a></h3>
										<p>In his own words.... "I began my professional life marching up and down the drill square of the Indian Military Academy as a gentleman cadet and ended my job-era playing hide-&-seek with media teams as the Head of Corporate Communications. A few of the 1800+ poems written by me are published in journals in India & UK but the rest still in notebooks, loose sheets, penned on napkins, and in computer files. I have had short-stories published in anthologies and articles in The Education Post, The Huffington Post, Business Insider, & MarketingBuzzar. I dream of travelling to every country in the world… and of finally completing my first novel."</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/raul" class="link">Raul Villamarin Rodriguez</a></h3>
										<p>Raul is a Criminal Intelligence Officer at Interpol, Neuroscientist, Psychophysiologist & is rated Asia's Top Expert in the Science of Detecting Deception and among the Top 25 Globally. He is a recognized authority on Deception Detection, Psychophysiology, Fraud Examination, Business Communication, Fraud Analysis, Analysis Of Emotions, Emotional Footprinting, Criminal Profiling and Analytical interviewing. He provides training and consulting services for national law enforcement, Interpol, government agencies, large corporations and firms throughout Europe and Asia. Raul is Certified Master Anti-Terrorism Specialist (CMAS) and holds a diploma as a Neuro-Linguistic Programming Practioner by American Hypnosis Association; Certified Deception Expert by Paul Ekman Group;Certified Fraud Examiner by the Association of Certified Fraud Examiners. He has relevant experience in several cases regarding renowned criminal and terrorist organizations such as D-Company, Boko Haram, and ISIS.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/" class="link">Igdsg</a></h3>
										<p>dgsdfg</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/" class="link">Cogdgd</a></h3>
										<p>Ipsdgf</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/" class="link">Etm</a></h3>
										<p>fdss</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Madfgo</h2>
									</header>
									<p>vdgdf</p>
									<ul class="actions">
										<li><a href="landing" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>

					</div>

<%- include footer -%>
