
<%- include header -%>
				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>TEDxJEC</h1>
							</header>
							<div class="content">
								<p>Jabalpur Engineering College</p>
								<ul class="actions">
									<li><a href="#speakers" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="speakers" class="tiles">
								<article>
									<span class="image">
										<img src="images/pavitra.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/pavitrashetty" class="link">Pavitra Shetty</a></h3>
										<p>Pavitra Shetty or 'Pavi' as she prefers to be called for reasons of social acceptance is an IT engineer, infrequent gym-goer and burger enthusiast, all redeeming qualities for the average non specific, she just happens to be a girl.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/" class="link">fds</a></h3>
										<p>dfgdg</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/" class="link">Magfd</a></h3>
										<p>dgf</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/" class="link">Igdsg</a></h3>
										<p>dgsdfg</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/" class="link">Cogdgd</a></h3>
										<p>Ipsdgf</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/" class="link">Etm</a></h3>
										<p>fdss</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Madfgo</h2>
									</header>
									<p>vdgdf</p>
									<ul class="actions">
										<li><a href="landing" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>

					</div>

<%- include footer -%>