<%- include header -%>

				<!-- Banner -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Pavitra Shetty</h1>
							</header>
							<div class="content">
								<p>vdvfd</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Seddd</h2>
									</header>
									<p>Nuldvgdf</p>
									<ul class="actions">
										<li><a href="generic" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>

					</div>

<%- include footer -%>